.flex {
    display: flex;
}
.houses-list {
    justify-content: space-evenly;
    border: 1px solid #D9D9D9;
    border-radius: 100px;
    width: 1240px;
}
.align-items {
    align-items: center;
}
.gryffindor img,
.slytherin img,
.ravenclaw img,
.hufflepuff  img{
    margin-right: 0.5rem;
}
.gryffindor,
.slytherin,
.ravenclaw,
.hufflepuff {
    gap: 10px;
}