
.hogwards-teachers {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.hogwards-teachers svg {
  color: #fabf59;
  margin-left: 10rem;
  transform: scale(5);
  cursor: pointer;
}
.hogwards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2rem;
  justify-items: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
}
.teachers-card {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  overflow: hidden;
  width: 60%;
  max-width: 200px;
  text-align: center;
  padding: 1rem;
  color: #fabf59;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}
.teachers-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.7);
}
.teacher-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}
